In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"BsraHull/data/cb0p75.csv", index_col=0);
#df.dropna(axis=1, how='all',inplace =True)
df

           0  0.075   0.25    0.5   0.75      1   1.25    1.5    SAR
0      0.000  0.000  0.000  0.000  0.000  0.000  0.025  0.062  0.000
0.5    0.021  0.075  0.113  0.128  0.138  0.149  0.176  0.235  0.120
1      0.067  0.180  0.251  0.276  0.290  0.304  0.338  0.403  0.261
1.5    0.138  0.290  0.380  0.423  0.441  0.460  0.495  0.557  0.401
2      0.235  0.406  0.504  0.560  0.585  0.608  0.639  0.690  0.535
3      0.466  0.625  0.718  0.777  0.806  0.824  0.845  0.867  0.754
4      0.700  0.800  0.870  0.911  0.930  0.943  0.954  0.962  0.845
5      0.883  0.920  0.959  0.978  0.985  0.990  0.994  0.998  0.969
6      0.979  0.983  0.994  0.999  0.999  1.000  1.000  1.000  0.995
7      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
8      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
9      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
10     1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
11     1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
12     0.985  0.992  0.999  1.000  1.000  1.000  1.000  1.000  0.998
13     0.914  0.953  0.979  0.997  1.000  1.000  1.000  1.000  0.987
14     0.784  0.860  0.925  0.976  0.990  0.996  1.000  1.000  0.953
15     0.612  0.728  0.820  0.908  0.953  0.975  0.990  1.000  0.880
16     0.420  0.565  0.667  0.781  0.863  0.921  0.958  0.987  0.760
17     0.242  0.388  0.483  0.592  0.712  0.817  0.899  0.951  0.594
18     0.105  0.225  0.288  0.365  0.488  0.660  0.794  0.875  0.391
18.5   0.058  0.151  0.197  0.249  0.354  0.554  0.715  0.812  0.282
19     0.028  0.084  0.109  0.135  0.211  0.427  0.614  0.726  0.172
19.5   0.012  0.021  0.025  0.028  0.061  0.278  0.486  0.610  0.060
20     0.000  0.000  0.000  0.000  0.000  0.115  0.320  0.451  0.006
MaxBm  0.807  0.947  1.000  1.000  1.000  1.000  1.000  1.000    NaN

In [4]:
sar = df['SAR'][:]
sar.drop('MaxBm', inplace=True);
sar.index = sar.index.astype(float);
sar

0.0     0.000
0.5     0.120
1.0     0.261
1.5     0.401
2.0     0.535
3.0     0.754
4.0     0.845
5.0     0.969
6.0     0.995
7.0     1.000
8.0     1.000
9.0     1.000
10.0    1.000
11.0    1.000
12.0    0.998
13.0    0.987
14.0    0.953
15.0    0.880
16.0    0.760
17.0    0.594
18.0    0.391
18.5    0.282
19.0    0.172
19.5    0.060
20.0    0.006
Name: SAR, dtype: float64

In [5]:
off = df[:].drop('SAR', axis=1).drop('MaxBm')
off = off.astype(float)
off.index = off.index.astype(float)
off.columns = off.columns.astype(float)

In [6]:
offu=off[off.columns[off.columns <=1]]
row  =offu.iloc[10]
y = row.values
y -1.

array([ 0.,  0.,  0.,  0.,  0.,  0.])

In [7]:
maxbm = pd.Series(df.iloc[-1], dtype=float);
maxbm.drop('SAR', inplace= True)
maxbm.index = maxbm.index.astype(float)

In [8]:
maxbm

0.000    0.807
0.075    0.947
0.250    1.000
0.500    1.000
0.750    1.000
1.000    1.000
1.250    1.000
1.500    1.000
Name: MaxBm, dtype: float64

In [9]:

outdic = {
    'maxbm':maxbm,
    'sar':sar,
    'offset':off
}

In [ ]:
outdic

In [11]:
import pickle

In [12]:
with open('BsraHull/data/cb0p75.bin','wb') as f:
    d = pickle.dump(outdic, f)