In [ ]:
import pandas as pd

In [50]:
df = pd.read_csv(r"BsraHull/data/cb0p8.csv", index_col=0);
#df.dropna(axis=1, how='all',inplace =True)
df

           0  0.075   0.25    0.5   0.75      1   1.25    1.5    SAR
0      0.000  0.000  0.000  0.000  0.000  0.000  0.044  0.098  0.000
0.5    0.053  0.162  0.235  0.258  0.267  0.280  0.318  0.378  0.243
1      0.160  0.324  0.435  0.486  0.505  0.522  0.554  0.613  0.458
1.5    0.286  0.467  0.581  0.650  0.681  0.700  0.728  0.779  0.620
2      0.423  0.591  0.702  0.774  0.808  0.830  0.852  0.890  0.746
3      0.696  0.793  0.867  0.921  0.948  0.964  0.975  0.984  0.901
4      0.903  0.929  0.962  0.983  0.994  0.999  1.000  1.000  0.975
5      0.990  0.991  0.995  0.998  1.000  1.000  1.000  1.000  0.997
6      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
7      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
8      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
9      1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
10     1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
11     1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
12     0.996  0.997  1.000  1.000  1.000  1.000  1.000  1.000  0.999
13     0.958  0.976  0.996  1.000  1.000  1.000  1.000  1.000  0.995
14     0.858  0.906  0.958  0.991  1.000  1.000  1.000  1.000  0.974
15     0.686  0.780  0.872  0.941  0.972  0.988  0.996  1.000  0.915
16     0.486  0.625  0.726  0.831  0.900  0.941  0.969  0.991  0.806
17     0.302  0.442  0.542  0.656  0.765  0.851  0.915  0.964  0.649
18     0.146  0.266  0.337  0.427  0.560  0.712  0.832  0.896  0.449
18.5   0.092  0.185  0.232  0.298  0.425  0.617  0.764  0.840  0.336
19     0.045  0.105  0.130  0.166  0.263  0.503  0.670  0.760  0.212
19.5   0.013  0.026  0.032  0.035  0.071  0.353  0.546  0.644  0.079
20     0.000  0.000  0.000  0.000  0.000  0.160  0.370  0.476  0.100
MaxBm  0.850  0.970  1.000  1.000  1.000  1.000  1.000  1.000    NaN

In [51]:
sar = df['SAR'][:]
sar.drop('MaxBm', inplace=True);
sar.index = sar.index.astype(float);
sar

0.0     0.000
0.5     0.243
1.0     0.458
1.5     0.620
2.0     0.746
3.0     0.901
4.0     0.975
5.0     0.997
6.0     1.000
7.0     1.000
8.0     1.000
9.0     1.000
10.0    1.000
11.0    1.000
12.0    0.999
13.0    0.995
14.0    0.974
15.0    0.915
16.0    0.806
17.0    0.649
18.0    0.449
18.5    0.336
19.0    0.212
19.5    0.079
20.0    0.100
Name: SAR, dtype: float64

In [52]:
off = df[:].drop('SAR', axis=1).drop('MaxBm')
off = off.astype(float)
off.index = off.index.astype(float)
off.columns = off.columns.astype(float)

In [53]:
offu=off[off.columns[off.columns <=1]]
row  =offu.iloc[10]
y = row.values
y -1.

array([ 0.,  0.,  0.,  0.,  0.,  0.])

In [54]:
maxbm = pd.Series(df.iloc[-1], dtype=float);
maxbm.drop('SAR', inplace= True)
maxbm.index = maxbm.index.astype(float)

In [55]:
maxbm

0.000    0.85
0.075    0.97
0.250    1.00
0.500    1.00
0.750    1.00
1.000    1.00
1.250    1.00
1.500    1.00
Name: MaxBm, dtype: float64

In [56]:

outdic = {
    'maxbm':maxbm,
    'sar':sar,
    'offset':off
}

In [ ]:
outdic

In [ ]:
import pickle

In [57]:
with open('BsraHull/data/cb0p8.bin','wb') as f:
    d = pickle.dump(outdic, f)